registry = http://dev.eyun.online:8081/repository/npm/
init.author.name = Bob Ying
init.author.email = 124599792@qq.com
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=124599792@qq.com
always-auth=true
_auth=ZGVwbG95bWVudDphZGRlMjAxNg==
