body{
	background: #f5f5f5;
	/*font-size: 0.28rem;*/
}
html{
	-webkit-text-size-adjust:none;
}
.flex{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}
.flex1{
  flex:1;
  -webkit-flex:1;
  -moz-flex:1;
  -ms-flex:1;
  -o-flex:1;
}
.spaceBetween{
  justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
}
.flexNowrap{
  flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearFix:after{
  display: block;
  content: '';
  height: 0;
  clear: both;
  visibility: hidden;
}
.overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.color67{
	color: #676767;
}
.font20{
	font-size: 0.2rem;
}

/*banner start*/
.focus{ 
	width:100%; 
	height:3.8rem;  
	margin:0 auto; 
	position:relative; 
	overflow:hidden;   
}
.focus .hd{ 
	width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  
}
.focus .hd ul{ 
	display:inline-block; height:12px;  
	vertical-align:top;
}
.focus .hd ul li{ 
	display:inline-block; width:6px; height:2px; 
	-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; 
	background:rgba(255,255,255,.5); margin:0 3px;  vertical-align:top; overflow:hidden;   
}
.focus .hd ul .on{ 
	background:transparent; 
	height: 6px; 
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	margin-top: -3px;
}

.focus .bd{
	position:relative; z-index:0; 
}
.focus .bd li img{ 
	width:100%;  height:3.8rem; 
}
.focus .bd li a{ 
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0); 
}
/*banner start*/

/*头部定位 start*/
.header{
	position: absolute;
	top: 0.27rem;
	left: 3%;
	width: 94%;
	line-height: 0.6rem;
	color: #fff;
}
.loaction{
	display: inline-block;
	font-size:0.24rem;
	color: #fff;
	width: 1.33rem;
	height: .6rem;
	text-align: center;
	line-height: 0.6rem;
	padding: 0 0.14rem;
	background: rgba(0,0,0,.5);
    border-radius: 0.6rem;
}
.arrowRight{
  width: 0.21rem;
  height: 0.13rem;
  vertical-align:middle;
/*  border-top:0.02rem solid #fff;
  border-right:0.02rem solid #fff;
  transform: rotate(45deg);*/
  display: inline-block; 
}
.searchBox{
	display: inline-block;
	
    background: rgba(0,0,0,0.5);
	height: 0.6rem;
	border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem;
	-moz-border-radius: 0.6rem;
	margin:0 0.2rem;
	font-size: 0.28rem;
}
.searchBox span{
	color: #fff;
}
.headSearch{
	display: inline-block;
	vertical-align: sub;
    margin-left: 0.12rem;
    width: 0.3rem;
    height: auto;
}
.headRight{
	font-size: 0;
	line-height: 0;
	margin-right: 0.16rem;
}
.headIcon{
	width: 0.34rem;
	height: auto;
	margin: 0.13rem 0 0.13rem 0.1rem;
}
.look{
	width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}
.look img{
	display: block;
	width: 100%;
}
/*头部定位 end*/	
	
/*菜单 start*/
.menu{
	background: #fff;
	padding-bottom: 0.32rem;
}
.menu ul li{
	float: left;
	width: 25%;
	overflow: hidden;
	text-align: center;
}
.menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #676767;
	font-size: 0.2rem;
	padding: 0.4rem 0 0 0;
}
.menu ul li img{
	width: 0.8rem;
	height: 0.8rem;
}
/*菜单 end*/

/*更多 start*/
.moreBox{
	margin: 0.15rem 0.3rem;
}
.moreBox .more{
	background: #fff;
	width: 100%;
	height: 0.62rem;
	line-height: 0.62rem;
	border-radius: 0.62rem;
	font-size: 0.24rem;
	color: #2f2f2f;
	padding: 0 0.15rem 0 0.25rem;
}
.moreLf_one{
	font-size: 0.28rem;
}
.moreLf_two{
	color: #fff;
	background: #f12a2f;
	border-radius: 0.04rem;
	-webkit-border-radius: 0.04rem;
	-moz-border-radius: 0.04rem;
	-ms-border-radius: 0.04rem;
	padding: 0 0.04rem;
}
.moreLf_three{
	color: #f12a2f;
	margin: 0 0.2rem 0 0.16rem;
}
.moreRig{
	padding-left: 0.24rem;
}
/*更多 end*/

/*附近商家 start*/
.titleBox{
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	border-bottom: 0.01rem solid #e7e7e7;
	font-size: 0.32rem;
	color: #525252;
	background: #fff;
	margin-top: 0.01rem;
}
.shopList{
	background: #fff;
	padding: 0.14rem 0.2rem 0.14rem 0.3rem;
	border-bottom: 0.01rem solid #e7e7e7;
}
.listLf{
	width: 1.32rem;
	height: 1.2rem;
	margin-right: 0.2rem;
	border-radius: 0.1rem;
	-webkit-border-radius: 0.1rem;
	-moz-border-radius: 0.1rem;
	background: red;
}

.listRig{
	width: 4.68rem;
	margin-top: -0.08rem;
}
.listRig_name{
	font-size: 0.28rem;
	color: #525252;
}
.listRig_name_title{
	font-size: 0.28rem;
}
.listRig_name_tips{
	background: #fc3066;
	color: #fff;
	font-size: 0.14rem;
	text-align: center;
	line-height: 1.2;
	width: 0.64rem;
	height: 0.62rem;
	margin-top: -0.08rem;
	padding-top: 0.02rem;
	position: relative;
}
.listRig_name_tips:after {
    content: "";
    position: absolute;
    top: 0.62rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0.32rem solid transparent;
    border-right: 0.32rem solid transparent;
    border-top: 0.16rem solid #fc3066;
}
.listRig_mid{
	margin-top: -0.1rem;
}
.star{
	width: 94px;
    height: 16px;
    margin: 2px 10px 0 0;
    background: url('../images/stars.png') repeat-x left bottom transparent;
    background-position: 0 -18px;
}
.star-in{
	height: 100%;
    background: url('../images/stars.png') repeat-x left top transparent;
    background-position: 0 3px;
}
/*附近商家 end*/

.placeHolder{
	height: 0.96rem;
	width: 100%;
	background: none;
	border: none;	
}

/*footer start*/
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.96rem;
	box-shadow: 0 -1px 4px rgba(0,0,0,.1);
	background: #fff;
	line-height: 1;
}
.footer ul li{
	float: left;
	width: 20%;
}
.footer li a{
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.navCenter{
	border-radius:50%;
	border: 1px solid #dadbdb;
	width: 0.72rem!important;
	height: 0.72rem;
	margin-top: 0.12rem!important;
}
.navCenter img{
	margin-top: 0.15rem;
}
.navImg{
	width: 0.38rem;
	margin: 0.12rem 0;
}
.active p{
	color: #ff0103;
}
/*footer end*/